<h2>メニュー</h2>

<ul>
  <li><%= link_to "郵便番号検索デモ（従来フォーム）", sample_path %></li>
  <li><%= link_to "郵便番号検索デモ（Turbo Frame）", sample_tb_path %></li>
  <li><%= link_to "郵便番号検索デモ（JavaScriptでAPIから取得）", sample_js_path %></li>
</ul>
